.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.list {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding-bottom: 15px;
  max-width: 700px;
  overflow: auto;
}

.list-item {
  margin: 0 5px;
  border-radius: 10px;
}

.list-item-selected {
  margin: 0 5px;
  border-radius: 10px;
  border: 2px solid black;
}

@media (max-width: 952px) {
  .list {
    width: 400px;
    margin: 20px;
  }
}

.list-item:hover {
  box-shadow: 0 2px 2px 0 gray, 0 2px 2px 0 gray;
}
